body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.question-results-box{
  margin-bottom: 20px;
  min-width: 360px;
  
}

.question-inner-box{
  margin-bottom: 20px;
  min-width: 360px;
}

.new-question {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
}

.question-button {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  border: 2px solid silver;
  border-radius: 20px;
  
 
}

.question-list{
 text-align: center;
 margin: 0px auto;
 width: 100%;
 height: 110%;
 align-content: center;

}

.question-box{
  margin-top: 15px;
  
}


.question-frame {
  margin: auto;
  width: 600px;
  border: 5px solid #333;
  height: 200px;
  position: relative;
  display: block;
  overflow:hidden;
  margin-top: 2px;
  border-radius: 25px;
}


.question-author {
  width: 30%;
  display:inline;
  float:left;
  border-right: 1px solid silver;
  height: inherit;
  text-align: center;
  padding-top:10px;
}

.question-avatar-line{
  width: 90%;
  display:flex;
  max-width: 590px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.question-avatar-left
{
  flex:0 0 25%
}

.question-avatar-right
{
  flex: 1
}
.avatar {
  height: 30px;
  border-radius: 25px;
}

.large-avatar {
  height: 120px;
  border-radius: 25px;
}

.nav-right{
  float: right;
  color:white;
  margin-left: 10px; 
  margin-right: 20px;
  height: 30px;
  text-align: end;
  
 
}

.question-results{
  margin: auto;
  width: 600px;
  border: 5px solid #333;
  height: 400px;
  position: relative;
  display: block;
  overflow:hidden;
  margin-top: 2px;
  border-radius: 25px;
  
 
}

.asked-by{
  border: 1px solid #333;
  height:20px;
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, rgb(77, 47, 149) 0%, rgb(149, 36, 137) 100%);
  font-weight: bold;
  color: white;
  text-align: center;
}
.left-results{
  width: 30%;
  display:inline;
  float:left;
  border-right: 1px solid silver;
  height: inherit;
  text-align: center;
  padding-top:100px;
  
}

.right-results{
 
  display:inline;
  float:left;
  padding-left: 50px;
  margin-top: 15px;
  text-align: center;
 
  
}

.center {
  text-align: center;
  
}

.center-h2 {
  text-align: center;
  font-size: x-large;
  padding: 20px;
}



.info-stamp{
  width: 100%;
  text-align: center;
  margin-top: 5px;
  color:silver;
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: #252525;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.nav-bar{
  background: linear-gradient(90deg, rgb(77, 47, 149) 0%, rgb(149, 36, 137) 100%);
    height: 80px;
    display:flex;
    /* justify-content: flex-start; */
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  
}

.nav-title{
  color: white;
  font-size: larger;
  text-align: center;
}


.nav-button {
  cursor: pointer;
}

.nav li {
  display: inline;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height:30px;
  align-items: flex-start;
}

.nav li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #fff;
        color: #242424;
        border-radius: 50px;
}




.nav-right a {
  color: white;
  /* text-align: flex-end; */
  /* padding: 14px 16px; */
  text-decoration: none;
  text-align: end;
}

.nav-right a:hover{
  background-color: #fff;
        color: #242424;
        border-radius: 50px;
}

.box{
  background: url('../public/10896553.jpeg') center center/cover no-repeat;
  height: 1500px;
}

.asked-by{
  border: 1px solid #333;
  height:20px;
  width: 100%;
  padding: 10px;
  background-color: rgb(226, 222, 222);
  font-weight: bold;
  text-align: center;
}

.leaderboard-frame {
  margin: auto;
  width: 600px;
  border: 5px solid #333;
  height: 200px;
  position: relative;
  display: block;
  overflow:hidden;
  margin-top: 2px;
  border-radius: 25px;
  
  
}

.leaderboard-title{
  font-weight: 700;
  font-size: 26pt ;
  margin: 40px;
}

.leaderboard-name{
  font-weight: 700;
  font-size: 16pt ;
  margin-top: 30px;
}

.leaderboard-count{
  font-weight: 700;
  font-size: 12pt ;
  margin-top: 20px;
}

.leaderboard-score{
  border: 1px solid #dad7d7;
  border-radius: 3px;
  float: left;
  background: linear-gradient(90deg, rgb(77, 47, 149) 0%, rgb(149, 36, 137) 100%);
}

.leaderboard-left{
  float: left;
  width: 150px;
  border-right: 1px solid silver;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
 
  
}

.leaderboard-center{
  float:left;
  width: 300px;
  border-right: 1px solid silver;
  height:100%;
 

}

.leaderboard-right{
 
  width: 145px;
  height:100%;
  display: flex;
  text-align: center;
}

.leaderboard-right-inset{
  height:100%;
  justify-content:baseline;
  align-items:center;
  margin-left: 20px;
}

.leaderboard-score{
  height:100px;
  width:80px;
  border: 1px solid silver;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.leaderboard-score-title{
  font-weight: 700;
  font-size: 12pt ;
  margin-top: 20px;
 text-align: center;
}

.leaderboard-score-value{
  height:40px;
  width:40px;
  border: 1px solid silver;
  border-radius: 25px;
  background-color: rgb(211, 104, 16);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
